set(PROJECT_INCLUDE_DIR {project_include_dir})
set(PROJECT_SRC_DIR {project_src_dir})

set(
	PROJECT_HEADERS_LIST
	{project_headers}
)
set(
	PROJECT_SRC_LIST
	{project_sources}
)

file(
	WRITE
	{project_cmake_vars_file_path}
	"\$\{{PROJECT_INCLUDE_DIR\}}=${{PROJECT_INCLUDE_DIR}}\n"
	"\$\{{PROJECT_SRC_DIR\}}=${{PROJECT_SRC_DIR}}"
)
