set(TESTS_UNIT_INCLUDE_DIR {tests_unit_include_dir})
set(TESTS_UNIT_SRC_DIR {tests_unit_src_dir})

set(
	TESTS_UNIT_HEADERS_LIST
	{tests_unit_headers}
)
set(
	TESTS_UNIT_SRC_LIST
	{tests_unit_sources}
)

file(
	WRITE
	{tests_cmake_vars_file_path}
	"\$\{{TESTS_UNIT_INCLUDE_DIR\}}=${{TESTS_UNIT_INCLUDE_DIR}}\n"
	"\$\{{TESTS_UNIT_SRC_DIR\}}=${{TESTS_UNIT_SRC_DIR}}"
)
